<h1>This is page for Ruby and Rails</h1>

<% name = "john" %>
<%= "welcome " + name%>
<h1>Welcome <%= name %></h1>


<h2>welcome <%= @random_user %></h2>


 <% for i in 0..9 %>
  <%= "Hello World !" %>
 <h2>Hello world  <%= i %></h2>
    <%end %>



<h2>even <%= @count %></h2>
<h2>odd <%= @count1 %></h2>