<h1>new Book</h1>


<%= form_for @bok do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title %>

  <br><br>

  <%= f.label :description  %>
  <%= f.text_field :description %>

  <br><br>

  <%= f.label :author  %>
  <%= f.text_field :author %>

  <br><br>


  <%= f.submit %>


<% end %>